@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";
@plugin "daisyui" {
  themes: light, dark, cupcake, business, forest;
}

body{
  height: 100vh;
}

.ql-toolbar{
  font-size: 1.05rem;
}