@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
 @plugin "daisyui";
@plugin "daisyui" {
  themes: light, dark, cupcake, business, forest;
}